#added_to_cart{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    background: #00000042;
    width: 100%;
    height: 100%;
    z-index: 100000;
}
.product_added_box {
    top: 0 auto;
    position: absolute;
    top: 15%;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    height: 60px;
    margin-top: -150px;
   
    padding: 5px;
    background: white;
    text-align: center;
}
#cart_product_name{
    color: #333;
}

/*Activar para webs con demasiados elementos en el menu*/
/* #grupo-submenu{
    height: auto !important;
} */

#cart_product_name span{
    color: #333;
    font-weight: bolder;
}

#close_cart, .presupuesto_button{
    padding: 4px;
    border: solid #333 1px;
    width: 120px;
    left: 16%;
    margin-top: 5px;
    border-radius: 2px;
    cursor: pointer;
    float: left;
    margin-left: 10px;
}

#grupo-contenido #contenido .producto3 .zoom {
    height: 100% !important;
}

#grupo-submenu #submenu-r span.submenu-op{
    right: 100px !important;
}

.publicacion{
    overflow: hidden;
}

.publicacion p{
    height: 78px !important;
    overflow: hidden !important;
}

.talla select, #ordenar select{
    background: #fff;
    color: #333;
    border: solid #ccc 1px;
    padding: 0px;
    margin: 0;
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.product_quantity {
    height: 37px;
    border-radius: 2px;
    width: 35px;
    padding-left: 10px;
    text-align: center;
}

#myModal2{
    min-width: 300px;
}

.fixed-bar-top {
    position: fixed !important;
    top: 0 !important;
    z-index: 60000 !important;
}

.span_quantity {
    font-size: 15px;
    color: black;
}

#imagen_modal2{
    cursor:pointer;
}

.presupuesto_articulo span.button{
    position: absolute;
    margin-top: 0px !important;
    left: 25%;
    cursor: pointer;
}

.vaciar_form{
    left: 45%;
}

.vaciar_presupuesto{    
    height: 39px !important;
    background: #000;
    border: none !important;
    color: #fff !important;
    cursor: pointer;
}

.clasetb2 #btSubmit{
    color: white !important;
}

#thumbs7 {
    margin-top: 0px !important;
}



@media (max-width:767px) { 
    #articulo span.button{
        position: inherit;
        left: auto;
        cursor: pointer;
    }

    .vaciar_form{
        left: 10%;
        margin-bottom: 20px;
    }
}

/* Purchase Process */
.purchase-process #articulo a{
    font-size: 15px;
    text-decoration: none !important;
}

.purchase-process .breadcrumb{
    background-color: #fff;
    color: #aaa;
    padding-left: 5px;
}

.purchase-process .breadcrumb-item {
    padding-left: 10px;
    padding-right: 10px;    
}

.purchase-process .next{
    color: #aaa;
}

.purchase-process .breadcrumb>.active{
    color: #333;
}

.purchase-process #articulo input, .purchase-process #articulo select{
    max-width: inherit !important;
    border: 1px solid #ccc;
    font-size: 14px;
    padding-top: 17px;
    padding-bottom: 3px;
}

.purchase-process label{
    position: absolute;
    top: -6px;
    left: 25px;
    z-index: 3;
    color: #aaa;
    font-size: 12px;
    font-weight: 100;
}

#grupo-contenido .purchase-process{
    max-width: inherit !important;
}

.purchase-process #articulo{
    width: 100% !important;
}

.purchase-process .datos-personales-izquierda{
    border-right: solid #ccc 1px;
    padding-right: 80px;
}

.purchase-process .datos-personales-derecha{
    padding-left: 80px;
    background-color: #fafafa;
    padding-top: 50px;
}

.purchase-process .row{
    overflow: hidden; 
}

.purchase-process .datos-personales-izquierda [class*="col-"], .purchase-process .datos-personales-derecha [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.purchase-process .bag-item{
    padding-bottom: 15px;
}

.purchase-process .importe-total{
    font-size: 25px;
}

.purchase-process .importe-title{
font-size: 19px;
}

.purchase-process .no-padding{
    padding: 0px !important;
}

.datos-personales-derecha img {
    width: 100% !important;
}

table#tcesta tr td:not(:first-child) {
    font-size: 0.9em !important;
}

.custom-btn{
    border-radius: 2px !important;
}

#botoncitoCof{
    visibility: hidden;
}

.repitePass{
    display: none;
}

#msgInfo{
    color: rgb(255, 0, 0);
    padding-bottom: 10px;
}

.comodin{
    display: none;
}

.center-div{
    margin-top: 25px !important;
}

.red-colored{
    color: red;
}

.radio-inline{
    position: relative !important;
    display: inline-block !important;
    padding-left: 20px !important;
    margin-bottom: 0 !important;
    font-weight: 400 !important;
    vertical-align: middle !important;
    cursor: pointer !important;
    margin-top: 0px !important;
    color: #333 !important;
    top: 0 !important;
    left: 0 !important;
}

.codigo_promocional_text{
    padding-top: 13px;
color: red;
}

#codpromo{
    padding-top: 7px !important;
}

.contenido_fluid{
    margin-bottom: 20px;
}

.clickable{
    cursor: pointer;
}

.highlight{
    border: 2px solid red !important;
}

.inputsuccess{
    border: 2px solid greenyellow !important;
}

.mask6{
    position: relative !important;
    z-index: 1 !important;
}
.add_cuantity_product form{
    min-width: 130px;
}

.bag_buttons{
    padding: 6px;
    color: white;
    margin-top: 6px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 13px;
}



/* Custom CSS Para textos Home*/
#textos h1, #textos2 h1{
    text-transform: uppercase;
    font-size: 23px;
    padding-bottom: 40px;
    padding-top: 50px;
}

#textos, #textos2{
    padding: 0px 115px !important;
    text-align: center;
    font-size: 16px;
    line-height: 2;
    top: 30px;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#izquierda{
    width: 50%;
    color: rgb(255, 255, 255);
    float: left;
    
    min-height: 425px;
}

.muestra3 .derecha, .muestra3 .izquierda{
    overflow: hidden;
}

#textoE{
    text-align: center;
}

#tcesta td, #tcesta tr, #tcesta th {
    text-align: center !important;
}

/*CSS Etiquetas en listado de productos*/
.etiquetas_estilo_contenedor {
    width: 40%;
    height: auto;
    vertical-align: middle;
    display: inline-flex;
}

.div-imagen-producto{
    width: 100%;
    overflow: hidden;
    padding-top: 15px;
}

.div-imagen-producto img{
    width: 100%;
}

.producto3 .precio {
    white-space: nowrap;
}

/*Etiquetas menu superior*/

.ruby-menu-demo-description img{
    margin: 0px !important;
}

#grupo-submenu #submenu-r span, .input-group-btn i{
    color: #fff;
}

.pie00-lnk_fot li {
    padding: 10px;
    text-transform: capitalize;
}

.pie00-lnk_fot li a{
    text-transform: capitalize;
}

@media (max-width: 768px){
    .purchase-process .datos-personales-derecha{
        padding-left: 0px;
    }
    .purchase-process .datos-personales-izquierda{
        border: none;
        padding-right: 0px; 
    }
    .datos-personales-derecha .price{
        text-align: right;
    }
    .add_cuantity_product form{
        max-width: 50px !important;
    }
    .add_cuantity_product form{
        min-width: 0px !important;
    }
    #textos, #textos2{
        padding: 0px 15px !important;
    }
    .input_busqueda {
        color: #fff !important;
    }
    #grupo-submenu #submenu-r #submenu-op{
        text-align: left;
        width: 80%;
    }
    .input-group.no_grande{
        min-width: 20px;
    }
    .form-search .input-text{
        width: 80%!important;
    }
    #grupo-submenu #submenu-r {
        margin-top: 0px !important;
        /* padding: 10px 22px !important; */
    }
}

@media (min-width: 768px){
    .purchase-process table#tcesta {
        width: 750px;
    }
    
}
@media (min-width: 992px){
    .purchase-process table#tcesta {
        width: 970px;
    }
}
@media (min-width: 1200px){
    .purchase-process table#tcesta {
        width: 1170px;
    }
}